@charset "utf-8";
/* CSS Document */

body {
background-color:#ffffff;
font-family:Tahoma, Helvetica, sans-serif;
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
font-size:12px;
}
a {
color:#000000;
text-decoration:none;
}
a:link {
color:#000000;
}
a:hover {
text-decoration:underline;
}
#wrapper{
	margin:0 auto;
	width:1000px;
	}
#header {
background-image:url(../images/banner.jpg);
width:1000px;
height:100px;
}
#menu {
text-align:right;
}
#menu_line {
background-image:url(../images/line_menu.jpg);

width:1000px;
height:2px;
}
#menu_left {
width:200px;
background-color:#fedf8d;
padding-bottom:20px;
}
#text_menu_left {
padding-top:20px;
padding-left:30px;
font-weight:bold;
}
#online {
width:200px;
border:1px solid #dddddd;
margin-top:15px;
text-align:center;
}
#online_text {
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}
#main {
width:585px;
float:left;
margin-left:8px;
padding-top:5px;
padding-bottom:5px;
}
#menu_right {
float:right;
width:200px;
}
#footer {
background-color:#b32018;
height:50px;
clear:both;
color:#FFFFFF;
text-align:center;
padding-top:15px;
}
#logo {
background-image:url(../images/left2.jpg);
background-repeat:no-repeat;
margin-top:10px;
margin-bottom:10px;
}
#hot_news_bar {
background-image:url(../images/left2.jpg);
background-repeat:no-repeat;
height:25px;
margin-top:5px;
}
#hot_news {
border:1px solid #dddddd;
padding-left:5px;
padding-right:5px;
padding-top:5px;
padding-bottom:5px;
}